* {
  margin: 0%;
  padding: 0%;
}
/*  the .parent-container is the first div and it
centers the .game-container in the window, also holds everything and below it is the .game-container which is also holding everything under it// console.log(document.queryselector(".parent-container")) to see it cleary and what it holds */

.first-load {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.oneVSone,
.oneVSbot {
  margin: 10px;
  font-size: 22px;
  border-radius: 10px;
  border-style: none;
  background-color: rgba(0, 0, 0, 0.827);
  color: white;
}

.game-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    rgba(120, 211, 214, 0.875),
    rgba(78, 195, 249, 0.555)
  );
}

/* the players container which is two different containers */
.player,
.computer {
  height: 80vh;
  width: 30%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

/* this divs are under the .player and .computer divs and the hold the dice positioned at center */

.player-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* buttons container */
.buttons {
  height: 60%;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  position: fixed;
}
.roll-btn,
.reset-btn,
.hold-btn,
.pass-btn,
.oneVSone,
.oneVSbot {
  padding: 15px;
  border-radius: 8px;
  border-style: none;
  margin-top: 10px;
}

.roll-btn:hover,
.reset-btn:hover,
.hold-btn:hover,
.pass-btn:hover,
.oneVSone:hover,
.oneVSbot:hover {
  cursor: pointer;
  box-shadow: 0px 8px 10px grey;
  transition: 0.4s ease-out;
}
.parent-container {
  background: linear-gradient(
    rgba(167, 239, 242, 0.559),
    rgba(188, 230, 245, 0.559)
  );
}
.player,
.computer {
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.449);
  border-radius: 20px;
  border-style: none;
}
.player {
  margin: 45px;
}
/* hide  */
.hidden {
  display: none;
}

.active {
  background: linear-gradient(pink, rgba(255, 125, 125, 0.716));
  box-shadow: 0px 0px 100px rgba(255, 255, 255, 0.793);
  transition: 0.2s ease-in-out;
}
.noneActive {
  background: linear-gradient(rgba(95, 85, 85, 0.645), rgba(53, 50, 50, 0.563));
  box-shadow: 0px 0px 100px rgba(120, 118, 118, 0.856);
  transition: 0.2s ease-in-out;
}
.roll-dice {
  margin-bottom: 300px;
}
.notHidden {
  display: flex;
}
